* {
  margin: 0;
}

.app {
  background-color: #fafafa;
}

.app__header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
  display: flex;
  justify-content: space-between;
}

.app__headerImage {
  height: 40px;
  object-fit: contain;
}

.app__signup {
  display: flex;
  flex-direction: column;
}

.app__posts {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.welcome-div {
  display: flex;
  width: "100%";
  justify-content: center;
  align-items: center;
}

.welcome {
  height: 85vh;
  width: 85vh;
  object-fit: contain;
}

@media (max-width: 1024px) {
  .welcome-div {
    flex-direction: column;
  }
  .welcome {
    height: 75vh;
    width: 75vh;
    object-fit: contain;
  }
}
